*

!.gitignore
!.readthedocs.yaml
!README.md
!README_API.md
!README_BACKEND.md
!GUIDE_UTILISATION.md
!mkdocs.yml
!docs/
!docs/**
!notebooks_experiences/
!notebooks_experiences/**
!academic_report/
!academic_report/**
!presentations/
!presentations/**

# Whitelist organized folders
!backend/
!backend/**

!dashboard/
!dashboard/**

!data/
!data/captures_manifest.csv
!data/annotations/
!data/annotations/**
!data/captures/
!data/captures/ilyas/
!data/captures/ilyas/unsafe/
!data/captures/ilyas/unsafe/unsafe blooza good  20260512_190928.mp4

!jobs/
!jobs/**

site/
academic_report/*.aux
academic_report/*.log
academic_report/*.out

**/__pycache__/
*.pyc

