*

!.gitignore
!.readthedocs.yaml
!README.md
!mkdocs.yml
!docs/
!docs/**
!notebooks_experiences/
!notebooks_experiences/**
!academic_report/
!academic_report/**
!presentations/
!presentations/**

site/
academic_report/*.aux
academic_report/*.log
academic_report/*.out
